:root { 
    --font-stack: "Antipasto", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --lightsalmonpink: #FF9594;
    --chinook: #A5CBA8;
    --zircon: #E0E0E0;
    --white: #FFFFFF;
    --black: #000000;
    --lividbrown: #322929;
}

@font-face {
    font-family: "Antipasto";
    font-weight: 500;
    src: local("Antipasto"),
      url("font/Antipasto-Pro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Antipasto";
    font-weight: 600;
    src: local("Antipasto"),
      url("font/Antipasto-Pro-Demibold.woff2") format("woff2");
}

@font-face {
    font-family: "Antipasto";
    font-weight: 100;
    src: local("Antipasto Light"),
      url("font/Antipasto-Pro-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Antipasto";
    font-weight: 800;
    src: local("Antipasto Bold"),
      url("font/Antipasto-Pro-Bold.woff2") format("woff2");
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background: var(--white);
    font-family: var(--font-stack);
    font-weight: 600;
    font-size: 100%;
    font-style: normal;
    color: var(--lividbrown);
}

body {
    max-width: 100%;
    min-height: 100vh;
}

a {
    color: var(--black);
}

a:hover {
    color: var(--black);
    text-decoration: none;
}

a:active {
    color: var(--black);
}

a:visited {
    color: var(--black);
}

h1 {
    font-family: var(--font-stack);
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    padding-top: 97px;
    max-width: 29ch;
    z-index: 1;
}

h2 {
    font-family: var(--font-stack);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    max-width: 29ch;
    padding-top: 150px;
    color: var(--lividbrown);
    z-index: 1;
}

.grid {
    margin: 5rem auto 0;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 1440px) 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'header header header'
      '. main .'
      '. awards .'
      'footer footer footer';
}

.grid__header {
    grid-area: header;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.grid__main {
    grid-area: main;
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-areas:
      'left right';
}

.grid-main__left {
    grid-area: left;
}

.grid-main__right {
    grid-area: right;
    padding: 2rem;
}

.form__label {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 48px;
}

.form__element {
    width: 100%;
    display: block;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: var(--font-stack);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    color: var(--lividbrown);
    padding: 0 5px;
}

.form__button {
    width: 100%;
    margin-top: 43px;
    background-color: var(--lightsalmonpink);
    border-radius: 30px;
    border: none;
    font-family: var(--font-stack);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 48px;
    text-transform: uppercase;
    color: var(--lividbrown);
    cursor: pointer;
}

.grid__awards {
    grid-area: awards;
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
    padding-bottom: 24px;
    text-align: center;
}

.grid__footer {
    grid-area: footer;
    background: var(--chinook);
    min-height: 266px;
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.footer-container__left {
    margin: 0 auto;
    align-self: end;
    font-family: var(--font-stack);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 30px;
}

.footer-container__right {
    margin-left: auto;
}

/* Collapse grid on mobile viewports */
@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
          'header'
          'main'
          'awards'
          'footer';
    }

    .grid__main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            'left'
            'right';
    }

    .header__image,
    .left__image,
    .footer__image {
        max-width: 100%;
        max-height: 100%;
    }
}

/* Positioning shizzle for main image on wide viewports */
@media (min-width: 768px) {
    .grid {
        position: relative;
    }

    .grid__main {
        margin-bottom: 35rem;
    }

    .grid-main__left {
        grid-area: left;
        position: absolute;
        top: -5rem;
        left: 0;
    }

    .grid-main__right {
        padding: 0;
        justify-self: end;
    }
}